<% if @user.errors.any? %>
  <div id="error_explanation">
    <div data-alert class="alert-box warning radius">
      Le formulaire contient <%= pluralize(@user.errors.count, "erreur") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>