<li>
  <div class="large-9 small-6 columns competence-user">

    <%= link_to user_competence_path(@user.id, competence.id) do %>
      <h3><%= competence.titre %></h3> -- <span>Check it out!</span>
    <% end %>
  	<!-- <h3><%= competence.id %> <%= competence.titre %></h3> -->
  </div>
</li>

